<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>PuzzlePrinter</title>
<style type="text/css">
body {font-family: Nimbus Sans;}
#sidebar, .preview-top, #notice-item-wrapper { display: none; }
form { display: none; }
#cc-logo { margin-bottom: 0.5em; }
.preview-content { page-break-after: auto; }
</style>
</head>
<body>
<div id="wrapper">
<div id="container">
%s
<div style="height: 498px; min-height: 92px; width: auto; display: none;" class="" id="modal-dialog">
</div>
</body>
</html>

